@import url("../common/reset.css");

* {
  cursor: none;
}

.custom-cursor {
  width: 1.5rem;
  height: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  background-color: #000; /*사용자 수정*/
  backface-visibility: hidden;
  transition: none;
  mix-blend-mode: difference; /*사용자 수정*/
  pointer-events: none;
  border-radius: 50%;
  transform: scale(1);
}

.custom-cursor-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff; /*사용자 수정*/
  transition: all 0.2s ease;
  transform-origin: 50% 50%;
}

.custom-cursor.custom_cursor_visible {
  opacity: 1;
}

.custom-cursor.custom_cursor_hidden {
  opacity: 0;
}

@media (pointer: none), (pointer: coarse) {
  #custom_cursor,
  #custom_cursor .custom-cursor-icon {
    display: none !important;
    visibility: hidden;
    opacity: 0;
  }

  * {
    cursor: auto !important;
  }
}

@media (max-width: 767.98px) {
  .custom-cursor {
    display: none;
  }
}

.custom-cursor.custom_cursor_hover .custom-cursor-icon {
  transform: scale(2);
}
.custom-cursor.custom_cursor_hover2 .custom-cursor-icon {
  transform: scale(.6);
}

/* ------------- banner animation ----------- */

body {
  position: relative;
  z-index: -1;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

#section1 {
  background-color: #fff;
}

.slide-section {
  position: relative;
  z-index: -1;
}

.container {
  height: calc(100vh - 220px);
  padding-top: 100px;
  /* overflow: hidden; */
}

.carosel {
  width: 400vw;
  transition: all 2s;
}

.carosel li {
  width: 100vw;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-bx {
  position: relative;
  transition: all 1s;
  width: 35%;
  max-height: 40%;
}

.img-bx.widthUp {
  width: 40%;
}

.Text {
  width: 100vw;
  height: 380px;
  position: absolute;
  top: calc(100vh - 50vh - 170px);
  left: 0%;
  overflow: hidden;
  text-align: center;
}

.Text p {
  position: absolute;
  top: -300%;
  display: inline-block;
  left: calc(100% - 50vw - 50%);
  width: 100%;
  height: 300px;
  transition: all 1.3s;
  transform: rotate(0.03deg);
  opacity: 0.9;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.Text a {
  font-family: 'Nanum';
}

.text1 {
  padding-top: 30px;
  font-size: 17rem;
  letter-spacing: 0px;
}

.text2 {
  font-size: 22rem;
  letter-spacing: 2px;
}

.Text p.activeAnimation {
  top: 0%;
}

.Text p.activeAnimation.deActiveAnimation {
  top: 150%;
}

.Text p.restAnimation {
  transition: none !important;
  top: -150%;
}

/* 이미지 슬라이드 반사 효과 */
.ib1::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 5%;
  bottom: -20px;
  width: 90%;
  height: 40px;
  background: url(../img/banner1.webp) no-repeat;
  background-size: 100% 40px;
  filter: blur(15px);
  opacity: 0.5;
}

.ib2::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 5%;
  bottom: -20px;
  width: 90%;
  height: 40px;
  background: url(../img/banner2.webp) no-repeat;
  background-size: 100% 40px;
  filter: blur(15px);
  opacity: 0.5;
}

/* .ib3::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 5%;
  bottom: -20px;
  width: 90%;
  height: 40px;
  background: url() no-repeat;
  background-size: 100% 40px;
  filter: blur(15px);
  opacity: 0.5;
}

.ib4::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 5%;
  bottom: -20px;
  width: 90%;
  height: 40px;
  background: url() no-repeat;
  background-size: 100% 40px;
  filter: blur(15px);
  opacity: 0.5;
} */

/* -------------------프로젝트 년도--------------------- */
.project-since {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(0, -50%);
}

.since-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 18px 0;
}

.item-bar {
  transition: all 0.5s;
  width: 20px;
  height: 2px;
  background-color: #757575;
  flex-shrink: 0;
}

.item-txt {
  transition: all 0.5s;
  color: #757575;
  padding-left: 10px;
}

.item-bar-active {
  width: 50px;
  height: 3px;
  background-color: #212121;
}

.item-txt-active {
  color: #212121;
  font-size: 20px;
  transition: all 0.5s;
  font-weight: 700;
}

.project-since-bars {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0, -50%);
}

.since-item2 {
  width: 70px;
  padding: 26px 0;
}

.item-bar2 {
  transition: all 0.5s;
  width: 20px;
  height: 2px;
  background-color: #757575;
  flex-shrink: 0;
  float: right;
}

.item-bar2-active {
  width: 50px;
  height: 3px;
  background-color: #212121;
}

.down-arrow {
  height: 220px;
  text-align: center;
  font-size: 38px;
  color: #424242;
}
.down-arrow i {
  padding-top: 160px;
  transform: translateY(0);
  transition: all 1s;
}

/* ---------- section2 ---------- */

.portfolio-shortcut {
  position: relative;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.portfolio-logo {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: all 1.2s;
  background-color: #fff;
  opacity: 1;
}

.portfolio-logo svg {
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.portfolio-logo-name {
  opacity: 0;
  position: absolute;
  left: 8%;
  bottom: 50%;
  transform: translate(0, 115%);
  width: 15%;
  transition: all 0.8s;
}

.triangle {
  display: none;
  position: absolute;
  top: 0;
  right: -150px;
  width: 0;
  height: 0;
  border-bottom: 100vh solid transparent;
  border-top: 100vh solid #fff;
  border-left: 50px solid #fff;
  border-right: 150px solid transparent;
}

.portfolio-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-color: #000;
  z-index: -1;
}
.portfolio-title {
  position: absolute;
  top: 6%;
  right: 6%;
  font-size: 6.5em;
  color: #fff;
}
.portfolio-txt {
  position: absolute;
  top: 34%;
  right: 6%;
  color: #fff;
  text-align: right;
}
.minor-title {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 100px;
}
.portfolio-txt p {
  line-height: 2em;
  font-size: 1em;
  display: inline-block;
}
.sentences1 {
  margin-bottom: 50px;
}
.stn-after::after {
  content: "";
  padding-right: 2px;
  border-right: 2px solid #e0e0e0;
  animation: blink 0.9s infinite steps(2);
}
@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #e0e0e0;
  }
}

.portfolio-arrow {
  opacity: 0;
  transition: all 1s;
  position: absolute;
  right: 6%;
  bottom: 5%;
  vertical-align: middle;
}
.portfolio-arrow a {
  font-size: 20px;
  color: #fff;
}
.portfolio-arrow i {
  vertical-align: middle;
}

.section2-down-arrow {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: #fff;
  font-size: 38px;
  transition: all 1s;
}
.section2-down-arrow i {
  transform: translateY(0);
  transition: all 1s;
}


/* ---------- section3 ---------- */
#section3 #particles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  filter: url("#goo");
}

#section3 .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

#section3 .title {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

#section3 .title h5 {
  position: relative;
  color: #000000;
  font-weight: 300;
  font-size: 60px;
  padding: 0;
  margin: 0;
  line-height: 1;
}

#section3 .title h5 span {
  font-weight: 700;
  font-size: 60px;
  padding: 0;
  margin: 0;
  line-height: 1;
}

#section3 .title p {
  font-weight: 200;
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 2;
  color: #5e7283;
  letter-spacing: 2px;
}

#section3 .title a {
  font-size: 18px;
  line-height: 3;
  color: #5e7283;
  letter-spacing: 3px;
}
#section3 .title a i {vertical-align: middle;}

#section3 .circle {
  fill: #212121;
}

#section3 #particles {
  filter: blur(3px);
}

#section3 svg {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateZ(0px);
}

.section3-down-arrow {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: #000;
  font-size: 38px;
  transition: all 1s;
}
.section3-down-arrow i {
  transform: translateY(0);
  transition: all 1s;
}


/* ---------- section4 ---------- */
.section4-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.tube-intro {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  filter: blur(0px);
  transition: all 2s;
}

.tube-intro path {
  stroke-dasharray: 7150;
  stroke-dashoffset: 7150;
}

.tube-intro svg{
  width: 80vw;
  margin: 5vw 0 15vw 6vw;
  transform: translateY(0);
  transition: all 4.4s linear;
}


.blog-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.blog-title {
  position: absolute;
  display: inline-block;
  top: 15%;
  right: 4%;
  text-align: right;
  overflow: hidden;
}

.blog-title h2 {
  padding: 10px 0; 
  font-size: 6em;
  color: #000;
  transform: translateX(200%);
  transition: all .8s linear;
}


.spin-bx {
  position: absolute;
  bottom: 3%;
  right: 2%;
  border-radius: 50%;
  opacity: 0;
  display: none;
  transition: all .5s linear;
}
.spin-bx img {
  width: 110px;
  height: 110px;
  -webkit-animation: spinBx 6s linear infinite;
  animation: spinBx 6s linear infinite;
}
.spin-bx p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline;
  font-weight: 700;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.6);
}
@-webkit-keyframes spinBx {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinBx {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ---------- section5 ---------- */
#section5 {
  background-color: #111111;
  position: relative;
}

.section5-title {
  position: absolute;
  top: 24%;
  right: 6%;
  text-align: center;
  color: #fff;
  width: 500px;
  /* border: 1px solid #fff; */
}
.section5-title h2 {
  font-size: 140px;
  transform: translate(0, 10%);
}
.section5-title h5 {
  font-size: 28px;
  letter-spacing: 1.8px;
  font-weight: 700;
}

.section5-content-txt {
  position: absolute;
  top: 50%;
  right: 6%;
  color: #fff;
  width: 490px;
  /* border: 1px solid #fff; */
}
.section5-content-txt h5 {
  font-weight: 700;
  padding-bottom: 16px;
  font-size: 24px;
}
.section5-content-txt p {
  line-height: 1.5;
  font-size: 20px;
}
.section5-content-txt i {vertical-align: middle;}
.section5-content-txt img {
  width: 20px;
  vertical-align: middle;
}

.copyright-bx {
  position: absolute;
  top: 70%;
  right: 6%;
  color: #fff;
  width: 490px;
}
.copyright-bx h5 {
  font-size: 22px;
  font-weight: 700;
  display: inline;
  padding-right: 10px;
}
.copyright-title a {
  color: #fff;
  font-size: 20px;
  padding-right: 6px;
}
.copyright-bx p {
  font-size: 16px;
  line-height: 2;
}

/* ---------------------- MEDIA ------------------------ */
@media (max-width: 1400px) {
  /* ----- 공용 ------ */
  .mediaDA {
    font-size: 36px;
  }

  /* ----- section1 ----- */
  .container {
    padding-top: 170px; 
  }

  .Text {
    height: 350px;
    top: calc(100vh - 50vh - 150px);
  }

  .Text p {
    height: 280px;
  }

  .text1 {
    font-size: 15vw;
  }

  .text2 {
    font-size: 20vw;
  }

  .project-since {
    transform: translate(0, -60%);
  }

  .item-bar {
    width: 18px;
  }

  .item-txt {
    font-size: 14px;
  }

  .item-bar-active {
    width: 48px;
  }

  .item-txt-active {
    font-size: 18px;
  }

  .project-since-bars {
    transform: translate(0, -60%);
  }

  .item-bar2 {
    width: 18px;
  }

  .item-bar2-active {
    width: 48px;
  }

  /* ----- section2 ----- */
  .portfolio-title {
    font-size: 5em;
  }
  .minor-title {
    font-size: 1em;
  }
  .portfolio-txt p {
    font-size: 0.85em;
  }
  .portfolio-arrow a {
    font-size: 16px;
  }

  /* ----- section5 ----- */
  .tw-1 {
    margin-top: 28%;
  }
}

@media (max-width: 1200px) {
  /* ----- 공용 ------ */
  .mediaDA {
    font-size: 32px;
  }

  /* ----- section1 ----- */
  .img-bx {
    width: 40%;
  }
  
  .img-bx.widthUp {
    width: 45%;
  }
  .Text {
    height: 300px;
  }

  .Text p {
    height: 250px;
  }

  .text1 {
    font-size: 13vw;
  }

  .text2 {
    font-size: 18vw;
  }

  .project-since {
    transform: translate(0, -80%);
  }

  .since-item {
    padding: 14px 0;
  }

  .item-bar {
    width: 16px;
  }

  .item-txt {
    padding-left: 8px;
    font-size: 14px;
  }

  .item-bar-active {
    width: 46px;
  }

  .item-txt-active {
    font-size: 18px;
  }

  .project-since-bars {
    transform: translate(0, -80%);
  }

  .since-item2 {
    padding: 24px 0;
  }

  .item-bar2 {
    width: 16px;
  }

  .item-bar2-active {
    width: 46px;
  }

  /* ----- section2 ----- */
  .portfolio-title {
    font-size: 4em;
  }
  .minor-title {
    font-size: 0.8em;
  }
  .portfolio-txt p {
    font-size: 0.6em;
  }
  .portfolio-arrow a {
    font-size: 14px;
  }
  
  /* ----- section4 ----- */
  .blog-title h2 {
    font-size: 5em;
    text-shadow: 0 0 5px rgba(255,255,255,.5);
  }
  .spin-bx img {
    width: 100px;
    height: 100px;
  }
  .spin-bx p {
    font-size: 24px;
  }

  /* ----- section5 ----- */

}

@media (max-width: 1024px) {
  * {
    cursor: auto;
  }

  /* ----- header ----- */
  header {
    display: none;
  }
  #header .header-logo {
    display: none;
  }

  /* ----- 공용 ------ */
  .mediaDA {
    font-size: 28px;
  }

  /* ----- section1 ----- */
  #section1 {
    display: none;
  }

  /* ----- section2 ----- */
  .portfolio-content {
    width: 100%;
  }

  .portfolio-title {
    position: static;
    text-align: center;
    margin-top: 80px;
    font-size: 10vw;
  }

  .portfolio-txt {
    position: static;
    width: 60%;
    margin: 80px auto 0 auto;
  }
  .portfolio-txt-title {
    width: 100%;
  }

  .minor-title {
    font-size: 3vw;
  }
  .portfolio-txt p {
    font-size: 2vw;
  }
  .portfolio-arrow a {
    font-size: 2vw;
  }
  .portfolio-arrow {
    bottom: 10%;
    right: 10%;
  }

  /* ----- section3 ----- */
  #section3 .title h5 {
    font-size: 50px;
  }
  
  #section3 .title h5 span {
    font-size: 50px;
  }
  
  #section3 .title p {
    font-size: 16px;
  }
  #section3 .title a {
    font-size: 16px;
  }

  /* ----- section4 ----- */
  .blog-title h2 {
    font-size: 4.4em;
  }
  .spin-bx img {
    width: 95px;
    height: 95px;
  }
  .spin-bx p {
    font-size: 24px;
  }

  /* ----- section5 ----- */

}

/* phone size */
@media (max-width: 768px) {

  /* ----- section2 ----- */
  .portfolio-title {
    font-size: 12vw;
  }

  .portfolio-txt {
    width: 80%;
  }

  .minor-title {
    font-size: 3.5vw;
  }
  .portfolio-txt p {
    font-size: 2.5vw;
  }
  .portfolio-arrow a {
    font-size: 3vw;
  }

  /* ----- section3 ----- */
  #section3 .title h5 {
    font-size: 44px;
  }
  
  #section3 .title h5 span {
    font-size: 44px;
  }
  
  #section3 .title p {
    font-size: 14px;
  }
  #section3 .title a {
    font-size: 14px;
  }
  /* ----- section4 ----- */
  .blog-title h2 {
    font-size: 3.9em;
  }

  /* ----- section5 ----- */

}

@media (max-width: 576px) {
  .minor-title {
    font-size: 4vw;
    margin-bottom: 60px;
  }
  .portfolio-txt p {
    font-size: 3vw;
  }

  /* ----- section3 ----- */
  #section3 .title h5 {
    font-size: 40px;
  }
  
  #section3 .title h5 span {
    font-size: 40px;
  }
  
  /* ----- section4 ----- */
  .blog-title h2 {
    font-size: 3em;
  }
  .spin-bx img {
    width: 90px;
    height: 90px;
  }
  .spin-bx p {
    font-size: 20px;
  }

  /* ----- section5 ----- */

}

/* iphone mini size */
@media (max-width: 400px) {
}
