@import url("../common/reset.css");

*{
  cursor: none;
}

.custom-cursor {
  width: 1.5rem;
  height: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  background-color: #757575; /*사용자 수정*/
  backface-visibility: hidden;
  transition: none;
  mix-blend-mode: difference; /*사용자 수정*/
  pointer-events: none;
  border-radius: 50%;
  transform: scale(1);
  transition: all .1s;
}

.custom-cursor-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff; /*사용자 수정*/
  transition: all .2s ease;
  transform-origin: 50% 50%
}

.custom-cursor.custom_cursor_visible {
  opacity: 1
}

.custom-cursor.custom_cursor_hidden {
  opacity: 0
}

@media (pointer:none),
(pointer:coarse) {

  #custom_cursor,
  #custom_cursor .custom-cursor-icon {
    display: none !important;
    visibility: hidden;
    opacity: 0
  }

  * {
    cursor: auto !important
  }
}

@media (max-width:767.98px) {
  .custom-cursor {
    display: none
  }
}

.custom-cursor.custom_cursor_hover .custom-cursor-icon {
  transform: scale(2)
}

/* ------------- banner animation ----------- */

body {
  position: relative;
  z-index: -1;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#section1 {
  background-color: #fff;
}

.slide-section {
  position: relative;
  z-index: -1;
}

.container {
  height: calc(100vh - 220px);
  padding-top: 100px;
  overflow: hidden;
}

.carosel {
  width: 400vw;
  transition: all 2s;
}

.carosel li {
  width: 100vw;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-bx {
  position: relative;
  transition: all 1s;
  width: 35%;
  max-height: 40%;
}

.img-bx.widthUp {
  width: 40%;
}

.Text {
  width: 100vw;
  height: 380px;
  position: absolute;
  top: calc(100vh - 50vh - 170px);
  left: 0%;
  overflow: hidden;
  text-align: center;
}

.Text p {
  position: absolute;
  top: -300%;
  display: inline-block;
  left: calc(100% - 50vw - 50%);
  width: 100%;
  height: 300px;
  transition: all 1.3s;
  transform: rotate(0.03deg);
  opacity: .9;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.Text a {
  font-family: 'Secular One', sans-serif;
}

.text1 {
  padding-top: 30px;
  font-size: 17rem;
  letter-spacing: 0px;
}

.text2 {
  font-size: 22rem;
  letter-spacing: 2px;
}

.Text p.activeAnimation {
  top: 0%;
}

.Text p.activeAnimation.deActiveAnimation {
  top: 150%;
}

.Text p.restAnimation {
  transition: none !important;
  top: -150%;
}


/* 이미지 슬라이드 반사 효과 */
.ib1::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 5%;
  bottom: -20px;
  width: 90%;
  height: 40px;
  background: url(../img/banner1.png) no-repeat;
  background-size: 100% 40px;
  filter: blur(15px);
  opacity: 0.5;
}

.ib2::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 5%;
  bottom: -20px;
  width: 90%;
  height: 40px;
  background: url(../img/banner2.jpg) no-repeat;
  background-size: 100% 40px;
  filter: blur(15px);
  opacity: 0.5;
}

.ib3::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 5%;
  bottom: -20px;
  width: 90%;
  height: 40px;
  background: url(../img/banner3.jpg) no-repeat;
  background-size: 100% 40px;
  filter: blur(15px);
  opacity: 0.5;
}

.ib4::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 5%;
  bottom: -20px;
  width: 90%;
  height: 40px;
  background: url(../img/banner4.jpg) no-repeat;
  background-size: 100% 40px;
  filter: blur(15px);
  opacity: 0.5;
}

/* 텍스트 슬라이드 반사 효과 (나중에......) */


/* -------------------프로젝트 년도--------------------- */
.project-since {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(0, -50%);
}

.since-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 18px 0;
}

.item-bar {
  transition: all .5s;
  width: 20px;
  height: 2px;
  background-color: #757575;
  flex-shrink: 0;
}

.item-txt {
  transition: all .5s;
  color: #757575;
  padding-left: 10px;
}


.item-bar-active {
  width: 50px;
  height: 3px;
  background-color: #212121;
}

.item-txt-active {
  color: #212121;
  font-size: 20px;
  transition: all .5s;
  font-weight: 900;
}



.project-since-bars {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0, -50%);
}

.since-item2 {
  width: 70px;
  padding: 26px 0;
}

.item-bar2 {
  transition: all .5s;
  width: 20px;
  height: 2px;
  background-color: #757575;
  flex-shrink: 0;
  float: right;
}

.item-bar2-active {
  width: 50px;
  height: 3px;
  background-color: #212121;
}

.down-arrow {
  height: 220px;
  text-align: center;
  font-size: 38px;
  color: #424242;
}
.down-arrow i {
  padding-top: 160px;
  transform: translateY(0);
  transition: all 1s;
}


/* ---------- section2 ---------- */

.portfolio-shortcut {
  position: relative;
  z-index: -1;
}

.portfolio-logo {
  position: relative;
  width: 100%;  /*<- 이고 */
  height: 100vh;
  transition: all 1.2s;
  background-color: #fff;
}

.portfolio-logo svg {
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.portfolio-logo-name {
  opacity: 0; /*<- 이고 */
  position: absolute;
  left: 8%;
  bottom: 50%;
  transform: translate(0, 115%);
  width: 15%;
  transition: all .8s;
}

.triangle {
  display: none; /*<- 이고 */
  position: absolute;
  top: 0;
  right: -150px;
  width: 0;
  height: 0;
  border-bottom: 100vh solid transparent;
  border-top: 100vh solid #fff;
  border-left: 50px solid #fff;
  border-right: 150px solid transparent;
}

.portfolio-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-color: #000;
  z-index: -1;
}
.portfolio-title {
  position: absolute;
  top: 6%;
  right: 6%;
  font-size: 6.5em;
  color: #fff;
}
.portfolio-txt {
  position: absolute;
  top: 34%;
  right: 6%;
  color: #fff;
  text-align: right;
}
.minor-title {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 100px;
}
.portfolio-txt p {
  line-height: 2em;
  font-size: 1em;
  display: inline-block;
}
.sentences1 {
  margin-bottom: 50px;
}
.stn-after::after {
  content: '';
  padding-right: 2px;
  border-right: 2px solid #e0e0e0;
  animation: blink .9s infinite steps(2);
}
@keyframes blink {
  from { border-color: transparent; }
  to { border-color: #e0e0e0; }
}

.portfolio-arrow {
  opacity: 0;
  transition: all 1s;
  position: absolute;
  right: 6%;
  bottom: 5%;
}
.portfolio-arrow a {
  font-size: 20px;
  color: #fff;
}

.section2-down-arrow {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: #fff;
  font-size: 38px;
  transition: all 1s;
}
.section2-down-arrow i {
  transform: translateY(0);
  transition: all 1s;
}




/* ---------------------- MEDIA ------------------------ */
@media (max-width: 1400px) {
  /* ----- 공용 ------ */
  .mediaDA {
    font-size: 36px;
  }


  /* ----- section1 ----- */
  .Text {
    height: 350px;
    top: calc(100vh - 50vh - 230px);
  }

  .Text p {
    height: 280px;
  }

  .text1 {
    font-size: 15rem;
  }

  .text2 {
    font-size: 20rem;
  }

  .project-since {
    transform: translate(0, -60%);
  }

  .item-bar {
    width: 18px;
  }

  .item-txt {
    font-size: 14px;
  }

  .item-bar-active {
    width: 48px;
  }

  .item-txt-active {
    font-size: 18px;
  }

  .project-since-bars {
    transform: translate(0, -60%);
  }

  .item-bar2 {
    width: 18px;
  }

  .item-bar2-active {
    width: 48px;
  }

  /* ----- section2 ----- */
  .portfolio-title {
    font-size: 5em;
  }
  .minor-title {
    font-size: 1em;
  }
  .portfolio-txt p {
    font-size: .85em;
  }
  .portfolio-arrow a {
    font-size: 16px;
  }

}

@media (max-width: 1200px) {
  /* ----- 공용 ------ */
  .mediaDA {
    font-size: 32px;
  }

  /* ----- section1 ----- */
  .Text {
    height: 300px;
    top: calc(100vh - 50vh - 230px);
  }

  .Text p {
    height: 250px;
  }

  .text1 {
    font-size: 11rem;
  }

  .text2 {
    font-size: 16rem;
  }

  .project-since {
    transform: translate(0, -80%);
  }

  .since-item {
    padding: 14px 0;
  }

  .item-bar {
    width: 16px;
  }

  .item-txt {
    padding-left: 8px;
    font-size: 14px;
  }

  .item-bar-active {
    width: 46px;
  }

  .item-txt-active {
    font-size: 18px;
  }

  .project-since-bars {
    transform: translate(0, -80%);
  }

  .since-item2 {
    padding: 24px 0;
  }

  .item-bar2 {
    width: 16px;
  }

  .item-bar2-active {
    width: 46px;
  }

  /* ----- section2 ----- */
  .portfolio-title {
    font-size: 4em;
  }
  .minor-title {
    font-size: .8em;
  }
  .portfolio-txt p {
    font-size: .6em;
  }
  .portfolio-arrow a {
    font-size: 14px;
  }

}

@media (max-width: 992px) {
    /* ----- 공용 ------ */
    .mediaDA {
      font-size: 28px;
    }

  /* ----- section1 ----- */
  .Text {
    height: 200px;
    top: calc(100vh - 50vh - 260px);
  }

  .Text p {
    height: 200px;
  }

  .text1 {
    font-size: 8rem;
  }

  .text2 {
    font-size: 12rem;
  }

  .project-since {
    top: 43%;
  }

  .since-item {
    padding: 12px 0;
  }

  .item-bar {
    width: 14px;
  }

  .item-txt {
    font-size: 12px;
  }

  .item-bar-active {
    width: 44px;
  }

  .item-txt-active {
    font-size: 16px;
  }


  .project-since-bars {
    top: 43%;
  }

  .since-item2 {
    padding: 20px 0;
  }

  .item-bar2 {
    width: 14px;
  }

  .item-bar2-active {
    width: 44px;
  }

  /* ----- section2 ----- */
  .portfolio-title {
    font-size: 4em;
  }
  .minor-title {
    font-size: .8em;
  }
  .portfolio-txt p {
    font-size: .6em;
  }
  .portfolio-arrow a {
    font-size: 14px;
  }
}

@media (max-width: 768px) {

  /* ----- section1 ----- */
  header {
    position: fixed;
    z-index: 10;
  }
  #header .header-logo {
    display: none;
  }
  /* .Text {
    height: 150px;
    top: calc(100vh - 50vh - 280px);
  }

  .Text p {
    height: 150px;
  }

  .text1 {
    font-size: 6rem;
  }

  .text2 {
    font-size: 9rem;
  }

  .project-since {
    top: 36%;
  }

  .item-txt {
    padding-left: 6px;
  }

  .item-bar-active {
    width: 42px;
  }

  .item-txt-active {
    font-size: 14px;
  }


  .project-since-bars {
    top: 36%;
  }

  .since-item2 {
    padding: 18px 0;
  }

  .item-bar2-active {
    width: 42px;
  } */
}

/* phone size */
@media (max-width: 576px) {

  /* ----- section1 ----- */
  .Text {
    height: 120px;
    top: calc(100vh - 50vh - 300px);
  }

  .Text p {
    height: 130px;
  }

  .text1 {
    font-size: 4rem;
  }

  .text2 {
    padding-top: 30px;
    font-size: 4rem;
  }

  .project-since {
    top: 32%;
  }

  .since-item {
    padding: 10px 0;
  }

  .item-bar {
    width: 10px;
  }

  .item-txt {
    padding-left: 4px;
  }

  .item-bar-active {
    width: 35px;
  }

  .item-txt-active {
    font-size: 12px;
  }


  .project-since-bars {
    top: 32%;
  }

  .since-item2 {
    padding: 18px 0;
  }

  .item-bar2 {
    width: 10px;
  }

  .item-bar2-active {
    width: 35px;
  }
}

/* iphone mini size */
@media (max-width: 400px) {

  /* ----- section1 ----- */
  .Text {
    top: calc(100vh - 50vh - 220px);
  }

  .project-since {
    display: none;
  }

  .project-since-bars {
    display: none;
  }
}