@media (max-width: 1400px) {
  .Text {
    height: 350px;
    top: calc(100vh - 50vh - 230px);
  }
  
  .Text p {
    height: 280px;
  }

  .text1 {
    font-size: 15rem;
  }
  
  .text2 {
    font-size: 20rem;
  }

  /* -----프로젝트 년도----- */
  .project-since {
    transform: translate(0, -60%);
  }

  .item-bar {
    width: 18px;
  }

  .item-txt {
    font-size: 14px;
  }

  .item-bar-active {
    width: 48px;
  }

  .item-txt-active {
    font-size: 18px;
  }



  .project-since-bars {
    transform: translate(0, -60%);
  }
  
  .item-bar2 {
    width: 18px;
  }
  
  .item-bar2-active {
    width: 48px;
  }

}

@media (max-width: 1200px) {
  .Text {
    height: 300px;
    top: calc(100vh - 50vh - 230px);
  }
  
  .Text p {
    height: 250px;
  }

  .text1 {
    font-size: 11rem;
  }
  
  .text2 {
    font-size: 16rem;
  }

  /* -----프로젝트 년도----- */
  .project-since {
    transform: translate(0, -80%);
  }

  .since-item {
    padding: 14px 0;
  }

  .item-bar {
    width: 16px;
  }

  .item-txt {
    padding-left: 8px;
    font-size: 14px;
  }

  .item-bar-active {
    width: 46px;
  }

  .item-txt-active {
    font-size: 18px;
  }


  .project-since-bars {
    transform: translate(0, -80%);
  }
  
  .since-item2 {
    padding: 24px 0;
  }
  
  .item-bar2 {
    width: 16px;
  }
  
  .item-bar2-active {
    width: 46px;
  }
}

@media (max-width: 992px) {
  .Text {
    height: 200px;
    top: calc(100vh - 50vh - 260px);
  }
  
  .Text p {
    height: 200px;
  }

  .text1 {
    font-size: 8rem;
  }
  
  .text2 {
    font-size: 12rem;
  }

  /* -----프로젝트 년도----- */
  .project-since {
    top: 43%;
  }

  .since-item {
    padding: 12px 0;
  }

  .item-bar {
    width: 14px;
  }

  .item-txt {
    /* padding-left: 8px; */
    font-size: 12px;
  }

  .item-bar-active {
    width: 44px;
  }

  .item-txt-active {
    font-size: 16px;
  }

  
  .project-since-bars {
    top: 43%;
  }
  
  .since-item2 {
    padding: 20px 0;
  }
  
  .item-bar2 {
    width: 14px;
  }
  
  .item-bar2-active {
    width: 44px;
  }
}

@media (max-width: 768px) {
  .Text {
    height: 150px;
    top: calc(100vh - 50vh - 280px);
  }
  
  .Text p {
    height: 150px;
  }

  .text1 {
    font-size: 6rem;
  }
  
  .text2 {
    font-size: 9rem;
  }

  /* -----프로젝트 년도----- */
  .project-since {
    top: 36%;
  }

  .item-txt {
    padding-left: 6px;
  }

  .item-bar-active {
    width: 42px;
  }

  .item-txt-active {
    font-size: 14px;
  }


  .project-since-bars {
    top: 36%;
  }
  
  .since-item2 {
    padding: 18px 0;
  }

  .item-bar2-active {
    width: 42px;
  }
}

@media (max-width: 576px) {
  .Text {
    height: 120px;
    top: calc(100vh - 50vh - 300px);
  }
  
  .Text p {
    height: 130px;
  }

  .text1 {
    font-size: 4rem;
  }
  
  .text2 {
    padding-top: 30px;
    font-size: 4rem;
  }

  /* -----프로젝트 년도----- */
  .project-since {
    top: 32%;
  }

  .since-item {
    padding: 10px 0;
  }

  .item-bar {
    width: 10px;
  }

  .item-txt {
    padding-left: 4px;
  }

  .item-bar-active {
    width: 35px;
  }

  .item-txt-active {
    font-size: 12px;
  }


  .project-since-bars {
    top: 32%;
  }
  
  .since-item2 {
    padding: 18px 0;
  }
  
  .item-bar2 {
    width: 10px;
  }
  
  .item-bar2-active {
    width: 35px;
  }
}

@media (max-width: 400px) {
  .Text {
    top: calc(100vh - 50vh - 220px);
  }

  .project-since {
    display: none;
  }
  .project-since-bars {
    display: none;
  }
}