@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url("https://fonts.googleapis.com/css?family=Syncopate");


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: 100%;
}

.preload *{
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

a {
  text-decoration: none;
  color: #000;
}
h1,h2,h3,h4 {font-family: 'Secular One', sans-serif;}
p,a,div,span,h5 {font-family: 'NanumSquare';}
ul {list-style: none;}


.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid transparent;
}
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* ------------------ header ----------------- */
#header {
  position: absolute;
  width: 100vw;
}
.header-container {
  margin-top: 20px;
  overflow: hidden;
}

.header-logo {
  display: inline-block;
  margin-left: 35px;
}
.header-logo img {
  width: 120px;
}

.header-menu {
  display: block;
  float: right;
}
.header-menu ul {
  overflow: hidden;
  margin-right: 35px;
  list-style: none;
}
.header-menu li {
  float: left;
  display: list-item;
  line-height: 3.25;
}
.header-menu li a {
  margin: 0 20px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #757575;
}
.header-menu li a:hover {
  color: #000;
}

/* --- header-menu2 --- */
.header-menu2 {
  display: none;
}
.screen {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	background: #fff;
}
.burger {
	height: 30px;
	width: 40px;
	position: absolute;
	top: 11px;
	right: 21px;
	cursor: pointer;
}
.x, .y, .z {
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	background: #000;
	border-radius: 2px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.x, .y, .z {
	height: 3px;
	width: 26px;
}
.y {
	top: 18px;
}
.z {
	top: 33.5px;
}
div.collapse {
	top: 20px;
	background: #fff;
	-webkit-transition: all 70ms ease-out;
	-moz-transition: all 70ms ease-out;
	-ms-transition: all 70ms ease-out;
	-o-transition: all 70ms ease-out;
	transition: all 70ms ease-out;
}


div.rotate30 {
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-transition: all 50ms ease-out;
	-moz-transition: all 50ms ease-out;
	-ms-transition: all 50ms ease-out;
	-o-transition: all 50ms ease-out;
	transition: all 50ms ease-out;
}

div.rotate150 {
	-ms-transform: rotate(150deg);
	-webkit-transform: rotate(150deg);
	transform: rotate(150deg);
	-webkit-transition: all 50ms ease-out;
	-moz-transition: all 50ms ease-out;
	-ms-transition: all 50ms ease-out;
	-o-transition: all 50ms ease-out;
	transition: all 50ms ease-out;
}

div.rotate45 {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

div.rotate135 {
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}
.circle {
	border-radius: 50%;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 35px;
	right: 46px;
	background: #424242;
	opacity: 1;
	-webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.circle.expand {
	width: 1800px;
	height: 1800px;
	top: -560px;
	right: -565px;
	-webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

}
.menu2-menus {
	position: relative;
	height: 100vh;
	width: 320px;
	margin: 0 auto;
}
.menu2-menus ul {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -70%);
}
.menu2-menus ul li {
	padding: 20px 0;
	list-style: none;
	opacity: 0;
	width: 320px;
	text-align: center;
	font-size: 0px;
	-webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.menu2-menus ul li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
}
.menu2-menus li.animate {
	font-size: 21px;
	opacity: 1;
	-webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.menu2-menus li.animate:nth-of-type(1) {
	top: 120px;
	transition-delay: 0.0s;
}
.menu2-menus li.animate:nth-of-type(2) {
	top: 190px;
	transition-delay: 0.03s;
}
.menu2-menus li.animate:nth-of-type(3) {
	top: 260px;
	transition-delay: 0.06s;
}
.menu2-menus li.animate:nth-of-type(4) {
	top: 330px;
	transition-delay: 0.09s;
}
.menu2-menus li.animate:nth-of-type(5) {
	top: 400px;
	transition-delay: 0.12s;
}
.menu2-menus li.animate:nth-of-type(6) {
	top: 470px;
	transition-delay: 0.15s;
}

/* -------------------loading-screen------------------- */
.loading-screen {
  font-family: 'Syncopate', sans-serif;
  position: fixed;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  font-size: 4em;
  letter-spacing: 6px;
  color: #fff;
  text-align: center;
  transition: all .6s;
  opacity: 1;
  z-index: 10;
}

.loading-screen div {
  display: inline-block;
  line-height: 95vh;
}

.loading-screen div {
  transition: all .5s;
  transform: translateY(-100%);
}


/* -------------- footer ---------- */
.footer-bx {
  width: 100vw; 
  height: 80px;
  background-color: #212121;
  color: #fff;
}

.copyright {
  color: #fff;
  text-align: center;
  padding-top: 18px;
}
.copyright a {color: #fff;}



.break-container {width: 1320px; margin: 0 auto;}

@media (max-width: 1400px) {
  .break-container {width: 1140px;}
}

@media (max-width: 1200px) {
  .break-container {width: 960px;}

  /* ----- header ----- */
  .header-logo img {
    width: 100px;
  }
  .header-menu li a {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .break-container {width: 720px;}

  /* ----- header ----- */
  .header-logo {
    margin-left: 30px;
  }
  .header-logo img {
    width: 90px;
  }
  .header-menu ul {
    margin-right: 30px;
  }
  .header-menu li a {
    margin: 0 18px;
  }
}

@media (max-width: 768px) {
  .break-container {width: 540px;}

  /* ----- header ----- */
  .header-container {
    margin-top: 18px;
  }
  .header-logo img {
    width: 80px;
  }
  .header-menu li a {
    margin: 0 16px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .break-container {width: 100%;}

  /* ----- header ----- */
  .header-menu {
    display: none;
  }
  .header-menu2 {
    display: block;
  }
}
