@import url("../common/reset.css");

body {
  overflow-x: hidden
}

/* ----- section1 ----- */
#my-introduce {
  padding-top: 200px;
  padding-bottom: 40px;
}

.myName {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: #212121;
}

.introduce-menu {
  margin-top: 100px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.menu-upper, .menu-lower {
  display: inline-block;
}

.email, .phone, .github, .blog {
  display: inline-block;
  padding: 0 20px;
}

.introduce-menu div p {
  padding: 5px 0;
}

.introduce-menu a:hover {
  color: #616161;
}

/* ----- section2 ----- */
#portfolio-introduce {
  position: relative;
  z-index: -1;
}
#portfolio-introduce h1 {
  font-size: 30px;
  padding-top: 80px;
  padding-bottom: 10px;
  border-bottom: solid 2px rgba(0, 0, 0, .2);
  transform: rotate(0.03deg);
  
}
.introduce-txt {
  padding-top: 20px;
}
.introduce-txt p {
  font-size: 16px;
  padding: 8px 0;
  transform: rotate(0.02deg);
}


/* ----- section3 ----- */
.experience {
  display: flex;
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
}
.ex-title-bx {
  display: flex;
  flex-direction: column;
  width: 54%;
}

.experience-title {margin-left: 5%;}
.experience-title a {
  font-size: 26px;
  font-weight: 600;
  color: #616161;
  text-decoration: underline;
  transform: rotate(0.02deg);
}
.experience-title a:hover {color: #000;}
.experience-title span {padding-left: 5px;}
.experience-title p {padding-top: 10px;}


.experience-menu {margin-top: 80px; margin-left: 5%;}
.experience-menu a:nth-child(2) {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.experience-menu a:hover p {
  text-decoration: underline;
}
.experience-menu p {display: inline-block;}
.experience-menu img {
  width: 20px;
  padding-right: 5px;
  margin-left: -2px;
}

.experience-content {margin-left: 5%;}
.experience-content h5{
  font-size: 20px;
  font-weight: 600;
  transform: rotate(0.02deg);
  margin-bottom: 25px;
}
.experience-content p {
  padding: 10px 0;
}


/* ----- section4 ----- */
.my-skills {
  height: 550px;
}
.my-skills h5 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}
.my-skills p {
  padding: 0 0 5px 0;
}
.skill-bx1 {
  display: flex;
  margin-top: 40px;
  text-align: left;
}
.skill-bx1 div {
  padding-left: 20%;
  width: 50%;
}
.skill-bx2 {
  display: flex;
  text-align: left;
  padding-top: 50px;
}
.skill-bx2 div {
  padding-left: 20%;
  width: 50%;
}


@media (max-width: 1200px) {
  /* ----- section1 ----- */
  .myName {
    font-size: 30px;
  }
  
  .introduce-menu {
    font-size: 16px;
  }


  /* ----- section2 ----- */
  #portfolio-introduce h1 {
    font-size: 28px;
  }
  .introduce-txt p {
    font-size: 16px;
  }

  /* ----- section3 ----- */
  .experience {
    width: 100%;
  }

  .experience-title {margin-left: 0;}

  .experience-menu {margin-left: 0;}

  .experience-content {margin-left: 0;}

}


@media (max-width: 992px) {
  /* ----- section1 ----- */
  #my-introduce {
    padding-top: 180px;
    padding-bottom: 30px;
  }
  .myName {
    font-size: 28px;
  }
  .introduce-menu {
    font-size: 14px;
  }

  .email, .phone, .github, .blog {
    padding: 0 16px;
  }

  /* ----- section2 ----- */
  #portfolio-introduce h1 {
    font-size: 26px;
  }
  .introduce-txt p {
    font-size: 14px;
  }

  /* ----- section3 ----- */
  .ex-title-bx {
    width: 55%;
  }
  .experience-title a {
    font-size: 22px;
  }
  .experience-title span {
    font-size: 14px;
  }
  .experience-title p {
    font-size: 14px;
  }
  .experience-menu a {
    font-size: 14px;
  }
  .experience-menu img {
    width: 16px;
  }
  .experience-content h5 {
    font-size: 16px;
    margin-bottom: 22px;
  }
  .experience-content p {
    font-size: 14px;
  }
  .experience-content span {
    display: none;
  }

  /* ----- section4 ----- */
.my-skills {
  height: 500px;
}
.my-skills p {
  font-size: 14px;
}
.my-skills h5 {
  font-size: 18px;
  padding-bottom: 18px;
}
.skill-bx1 div {
  padding-left: 15%;
}
.skill-bx2 {
  padding-top: 30px;
}
.skill-bx2 div {
  padding-left: 15%;
}
}


@media (max-width: 768px) {
  /* ----- section1 ----- */
  #my-introduce {
    padding-top: 160px;
    padding-bottom: 20px;
  }
  
    .myName {
    font-size: 26px;
  }
  .introduce-menu {
    margin-top: 65px;
    font-size: 12px;
  }
  .email, .phone, .github, .blog {
    padding: 0 14px;
  }

  /* ----- section2 ----- */
  #portfolio-introduce h1 {
    font-size: 24px;
  }
  .introduce-txt p {
    font-size: 12px;
  }

  /* ----- section3 ----- */
  .ex-title-bx {
    width: 50%;
  }
  .experience-title a {
    font-size: 20px;
  }
  .experience-title span {
    font-size: 12px;
  }
  .experience-title p {
    font-size: 12px;
  }
  .experience-menu a {
    font-size: 12px;
  }
  .experience-menu img {
    width: 14px;
  }
  .experience-content h5 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .experience-content p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  #portfolio-introduce h1 {
    padding-left: 12px;
  }
  /* ----- section1 ----- */
  #my-introduce {
    padding-top: 140px;
    padding-bottom: 10px;
  }
  .myName {
    font-size: 20px;
  }
  .introduce-menu {
    font-size: 12px;
  }
  .menu-upper, .menu-lower {
    display: block;
    width: 100%;
  }
  .menu-upper div {
    width: 40%;
  }
  .menu-lower {
    padding-top: 22px;
  }
  .menu-lower div {
    width: 40%;
  }


  /* ----- section2 ----- */
  #portfolio-introduce h1 {
    font-size: 22px;
  }
  .introduce-txt p {
    padding-left: 2%;
  }

  /* ----- section3 ----- */
  .experience {
    display: block;
    margin-left: 10%;
  }
  .ex-title-bx {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
  .experience-title {
    display: inline-block;
  }
  .experience-menu {
    display: inline-block;
    margin: 0;
    margin-left: 10%;
    vertical-align: top;
    padding-top: 16px;
  }
  .experience-menu a {
    display: inline-block;
  }
  .experience-menu i {
    font-size: 20px;
    padding-right: 13px;
  }
  .experience-menu img {
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
  }
  .experience-menu a:nth-child(2) {
    margin-top: 0;
    display: inline-block;
  }
  .experience-menu p {
    display: none;
  }

  /* ----- section4 ----- */
  .my-skills p {
    font-size: 12px;
  }
  .my-skills h5 {
    font-size: 16px;
  }
}