@import url("../common/reset.css");

body {
  position: relative;
  z-index: -1;
  overflow-x: hidden
}

/* ----- section1 ----- */
#my-introduce {
  padding-top: 200px;
  padding-bottom: 40px;
}

.myName {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: #212121;
}

.my-explanation {
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  padding-top: 3vh;
}

.introduce-menu {
  padding-top: 6vh;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}

.introduce-menu .github,.introduce-menu .blog {
  display: inline-block;
  padding: 0 20px;
}

.introduce-menu .blog img {
  width: 20px;
  vertical-align: middle;
}

.introduce-menu a:hover {
  color: #616161;
}

/* ----- section2 ----- */
#portfolio-introduce {
  position: relative;
  z-index: -1;
}
#portfolio-introduce h1 {
  font-size: 30px;
  padding-top: 80px;
  padding-bottom: 10px;
  border-bottom: solid 2px rgba(0, 0, 0, .2);
  transform: rotate(0.03deg);
  
}
.introduce-txt {
  padding-top: 20px;
}
.introduce-txt p {
  font-size: 16px;
  padding: 8px 0;
  transform: rotate(0.02deg);
}


/* ----- section3 ----- */
.experience {
  display: flex;
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
}
.ex-title-bx {
  display: flex;
  flex-direction: column;
  width: 54%;
}

.experience-title {margin-left: 5%;}
.experience-title a {
  font-size: 26px;
  font-weight: 600;
  color: #616161;
  text-decoration: underline;
  transform: rotate(0.02deg);
}
.experience-title a:hover {color: #000;}
.experience-title span {padding-left: 5px;}
.experience-title p {padding-top: 10px;}


.experience-menu {margin-top: 80px; margin-left: 5%;}
.experience-menu a:nth-child(2) {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.experience-menu a:hover p {
  text-decoration: underline;
}
.experience-menu p {display: inline-block;}
.experience-menu img {
  width: 20px;
  padding-right: 5px;
  margin-left: -2px;
}

.experience-content {margin-left: 5%;}
.experience-content h5{
  font-size: 20px;
  font-weight: 600;
  transform: rotate(0.02deg);
  margin-bottom: 25px;
}
.experience-content p {
  padding: 10px 0;
}


/* ----- section4 ----- */
.my-skills {
  height: 550px;
}
.my-skills h5 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}
.my-skills p {
  padding: 0 0 5px 0;
}
.skill-bx1 {
  display: flex;
  margin-top: 40px;
  text-align: left;
}
.skill-bx1 div {
  padding-left: 20%;
  width: 50%;
}
.skill-bx2 {
  display: flex;
  text-align: left;
  padding-top: 50px;
}
.skill-bx2 div {
  padding-left: 20%;
  width: 50%;
}

/* ----- footer ----- */
.footer-bx {
  margin-top: 8vh;
  height: 130px;
  border-top: solid 2px rgba(0, 0, 0, .2)
}
.footer-contact {
  padding-top: 2vh;
  text-align: center;
  font-weight: 700;
}
.footer-blog {padding-right: 1%;}
.footer-blog img {
  width: 1.6vw;
  vertical-align: middle;
}
.footer-github i {
  font-size: 1.2vw;
  vertical-align: middle;
}
.footer-contact .footer-phone {
  padding-top: 2vh;
}
.footer-contact p {
  font-size: 0.8vw;
  padding-bottom: 4px;
}
.footer-contact p i {
  padding-right: 10px;
  padding-bottom: 4px;
}

/* ----- send-mail ----- */
.contact-btn i {
  color: #000;
  font-size: 1.5em;
  padding-top: 10px;
}

.contact-btn {
  cursor: pointer;
  position: fixed;
  right: 4vw;
  bottom: 6vh;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  line-height: normal;
  border-radius: 6px;
  transition: all .2s ease;
  overflow: hidden;
  width: 80px;
  height: 80px;
  text-align: center;
}

.contact-btn::after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.contact-btn:hover {
  border-color: #000;
  color: #000;
  font-weight: 600;
  transform: scale(1.2, 1.2);
}
.contact-btn:hover::after {
  background-image: repeating-linear-gradient(45deg, #000, #000 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.send-mail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 60vw;
  width: 60vw;
  height: 80vh;
  background-color: #212121;
  color: #fff;
  border-radius: 15px;
  transition: all .6s;
}

.send-mail h2 {
  padding: 5% 0 1% 5%;
  font-size: 1.5vw;
}

.send-mail div {
  width: 100%;
  padding: 25px 0 25px 5%;
}

.send-mail p {
  padding-bottom: 10px;
  display: inline-block;
}

.send-mail span {
  font-size: 14px;
  padding-left: 8px;
  color: red;
  display: none;
}

.send-mail input {
  background-color: #424242;
  border: 1px solid #9e9e9e;
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
  color: #fff;
  padding-left: 3%;
  display: block;
}
.send-mail input::placeholder {
  color: #eeeeee;
  opacity: .6;
}

.send-mail textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
  background-color: #424242;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  width: 28vw;
  height: 18vh;
  color: #fff;
  padding: 2%;
  display: block;
}
.send-mail textarea::placeholder {
  color: #eeeeee;
  opacity: .6;
}

.send-mailBtn {
  position: relative;
}
.send-mailBtn button {
  --y: 0px;
  --rocate: 0deg;
  position: relative;
  padding: 10px 30px 10px 30px;
  color: #fff;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 27px;
  transform-style: preserve-3d;
  transform: translateY(var(--y)) rotateX(var(--rocate));
  transition: all .3s;
}
.send-mailBtn button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  background-color: #fff;
  height: 4px;
  border-radius: 2px;
  display: block;
  transform-origin: 0 100%;
  transform: rotateX(-90deg);
  transition: .3;
}

.send-mailBtn i {
  position: absolute;
  bottom: 30px;
  left: 5%;
  font-size: 2vw;
  transition: all 1.5s;
  opacity: 0;
  color: #fff;
}

.send-mail .my-information {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
  width: 30%;
  border-left: 1px solid rgba(255, 255, 255, .5);
}
.reimg {
  width: 10vw;
}
.send-mail .my-information h5 {
  padding-bottom: 8px;
}
.send-mail .my-information p {
  font-size: 14px;
}
.information-blog img {
  width: 25px;
}
.information-social i {
  padding-top: 5px;
  font-size: 18px;
  color: #fff;
}

.send-mail .x-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 26px;
  cursor: pointer;
}


@media (max-width: 1200px) {
  /* ----- section1 ----- */
  .myName {
    font-size: 30px;
  }
  
  .introduce-menu {
    font-size: 16px;
  }


  /* ----- section2 ----- */
  #portfolio-introduce h1 {
    font-size: 28px;
  }
  .introduce-txt p {
    font-size: 16px;
  }

  /* ----- section3 ----- */
  .experience {
    width: 100%;
  }

  .experience-title {margin-left: 0;}

  .experience-menu {margin-left: 0;}

  .experience-content {margin-left: 0;}
}

@media (max-width: 992px) {
  /* ----- section1 ----- */
  #my-introduce {
    padding-top: 180px;
    padding-bottom: 30px;
  }
  .myName {
    font-size: 28px;
  }
  .introduce-menu {
    font-size: 14px;
  }

  .email, .phone, .github, .blog {
    padding: 0 16px;
  }

  /* ----- section2 ----- */
  #portfolio-introduce h1 {
    font-size: 26px;
  }
  .introduce-txt p {
    font-size: 14px;
  }

  /* ----- section3 ----- */
  .ex-title-bx {
    width: 55%;
  }
  .experience-title a {
    font-size: 22px;
  }
  .experience-title span {
    font-size: 14px;
  }
  .experience-title p {
    font-size: 14px;
  }
  .experience-menu a {
    font-size: 14px;
  }
  .experience-menu img {
    width: 16px;
  }
  .experience-content h5 {
    font-size: 16px;
    margin-bottom: 22px;
  }
  .experience-content p {
    font-size: 14px;
  }
  .experience-content span {
    display: none;
  }

  /* ----- section4 ----- */
.my-skills {
  height: 500px;
}
.my-skills p {
  font-size: 14px;
}
.my-skills h5 {
  font-size: 18px;
  padding-bottom: 18px;
}
.skill-bx1 div {
  padding-left: 15%;
}
.skill-bx2 {
  padding-top: 30px;
}
.skill-bx2 div {
  padding-left: 15%;
}
}


@media (max-width: 768px) {
  /* ----- section1 ----- */
  #my-introduce {
    padding-top: 160px;
    padding-bottom: 20px;
  }
  
    .myName {
    font-size: 26px;
  }
  .introduce-menu {
    margin-top: 65px;
    font-size: 12px;
  }
  .email, .phone, .github, .blog {
    padding: 0 14px;
  }

  /* ----- section2 ----- */
  #portfolio-introduce h1 {
    font-size: 24px;
  }
  .introduce-txt p {
    font-size: 12px;
  }

  /* ----- section3 ----- */
  .ex-title-bx {
    width: 50%;
  }
  .experience-title a {
    font-size: 20px;
  }
  .experience-title span {
    font-size: 12px;
  }
  .experience-title p {
    font-size: 12px;
  }
  .experience-menu a {
    font-size: 12px;
  }
  .experience-menu img {
    width: 14px;
  }
  .experience-content h5 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .experience-content p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  #portfolio-introduce h1 {
    padding-left: 12px;
  }
  /* ----- section1 ----- */
  #my-introduce {
    padding-top: 140px;
    padding-bottom: 10px;
  }
  .myName {
    font-size: 20px;
  }
  .introduce-menu {
    font-size: 12px;
  }
  .menu-upper, .menu-lower {
    display: block;
    width: 100%;
  }
  .menu-upper div {
    width: 40%;
  }
  .menu-lower {
    padding-top: 22px;
  }
  .menu-lower div {
    width: 40%;
  }


  /* ----- section2 ----- */
  #portfolio-introduce h1 {
    font-size: 22px;
  }

  .introduce-txt p {
    padding-left: 2%;
    padding-right: 2%;
  }
  /* ----- section3 ----- */
  .experience {
    display: block;
    margin-left: 10%;
  }
  .ex-title-bx {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
  .experience-title {
    display: inline-block;
  }
  .experience-menu {
    display: inline-block;
    margin: 0;
    margin-left: 10%;
    vertical-align: top;
    padding-top: 16px;
  }
  .experience-menu a {
    display: inline-block;
  }
  .experience-menu i {
    font-size: 20px;
    padding-right: 13px;
  }
  .experience-menu img {
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
  }
  .experience-menu a:nth-child(2) {
    margin-top: 0;
    display: inline-block;
  }
  .experience-menu p {
    display: none;
  }

  /* ----- section4 ----- */
  .my-skills p {
    font-size: 12px;
  }
  .my-skills h5 {
    font-size: 16px;
  }
}